@model AppDemo.Models.HomeViewModel
<div class="jumbotron">
    <h1>Automated Delivery for .NET Applications Demo</h1>
    <p class="lead">Simple demo for the Automated Delivery for .NET Applications presentation by <a href="http://www.lozanotek.com" target="_blank">Lozantek, Inc.</a></p>
    <p><a href="https://github.com/lozanotek/automated-delivery" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>

    <h4>Assembly Name:&nbsp;@Model.Name</h4>
    <h4>Assembly Version:&nbsp;@Model.Version</h4>
</div>
